body {
	font-family: "Poppins", sans-serif;
}

/* Gallery styles */

.gallery {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}


.gallery img {
  width: 100%; padding: 7px 0;
}

.gallery-title {
	text-align: center;
}


.row {
	margin-right: 0!important;
	margin-left: 0!important;
}



/* responsiveness */

@media (max-width: 992px) {
  .gallery {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	}
}

@media (max-width: 576px) {
  .gallery {
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	}
}
